In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
import os

In [4]:
import pandas as pd

In [5]:
pd.DataFrame({
    'id': [ "RITM001", "RITM002", "RITM003", "RITM005"],
    'summary': ["test", "create account", "reset password", "create database"]
})

        id          summary
0  RITM001             test
1  RITM002   create account
2  RITM003   reset password
3  RITM005  create database

In [6]:
os.path.dirname(__name__)

''

In [7]:
__name__

'__main__'

In [8]:
os.path.abspath(os.path.dirname(__name__))

'D:\\Users\\valer_r0iadai\\OneDrive\\projects\\projects\\referential'

# Referential and Categories

In [9]:
from referential.referential import Category

In [10]:
Category(name = "space management")

In [11]:
cat1 = Category(name = "space management")
cat2 = Category(name = "space management")
cat1 == cat2

False

In [12]:
cat1.digest == cat2.digest, cat1.digest, cat2.digest

(True, 'c6d39d77756b49f989ac40924fc0d6ba', 'c6d39d77756b49f989ac40924fc0d6ba')

In [13]:
cat1.category_id, cat2.category_id

(UUID('7860e2fa-375f-4520-b23b-cd564eee8e98'),
 UUID('88b23d77-42d4-4bfd-8838-8b4de6bfd3f7'))

# Build referential with several layers and nodes